<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie.dao.MovieDao">
    <insert id="addMovie" parameterType="movie.entity.Movie" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO t_movie
        (
        title, image, director, actor, genre, initialReleaseDate, runtime, averageScore, ratingNum, summary
        )
        VALUES
        (
        #{title}, #{image}, #{director}, #{actor}, #{genre}, #{initialReleaseDate}, #{runtime}, #{averageScore}, #{ratingNum}, #{summary}
        )
    </insert>
</mapper>