<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>
    
    <typeAliases>
        <typeAlias type="movie.entity.Movie" alias="Movie"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="movie.framework.mybatis.ListTypeHandler" javaType="java.util.List"/>
    </typeHandlers>
    
    <mappers>
        <mapper resource="mapper/MovieMapper.xml"/>
    </mappers>

</configuration>